/*responsive*/
@media (min-width: 200px) and (max-width: 624px){
  body{
    padding-top: 112px;
    background: whitesmoke;
  }

  header .menu nav ul{
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  header .menu{
    background: orange;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #F2EDD0;
    width: 100%;
    text-align: left;
  }

  .tit{
    font-size: 50%;
  }

  .bajotit{
    font-size: 30%;
    margin: 10% auto;
  }

}
