/*
font-family: 'Baloo Paaji', cursive;
*/

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #F2EDD0;
  font-family: 'Prompt', sans-serif;
}

/*Menú*/

nav{
  padding: 0;
}

.menu{
  display: none;
  text-decoration: none;
  font-size: 25px;
}

header{
  width: 100%;

}

header nav{
  background: #E08748;
  z-index: 1000; /*posecionar arriba de los otros elementos*/
  width: 100%;
}

ul li a{
  list-style: none;
  text-decoration: none;
  color: #F2EDD0;
  display: block;
  padding: 20px;
  text-transform: uppercase;
}

li{
  display: inline-block;
}

ul{
  display: flex;
  justify-content: space-around;

}

#color1{
  list-style: none;
  text-decoration: none;
  color: #F2EDD0;
  display: flex;
  align-items: center;
}

#color2{
  list-style: none;
  text-decoration: none;
  color: #6A7329;
  display: flex;
  align-items: center;
  font-weight: bolder;
}

ul li a:hover{
  background: #D76805;
}
