/*
font-family: 'Baloo Paaji', cursive;
*/

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: whitesmoke;
  font-family: 'Prompt', sans-serif;
}

/*Menú*/

.menu{
  display: none;
}

header{
  width: 100%;
}

header nav{
  background: red;
  z-index: 1000; /*posecionar arriba de los otros elementos*/
  width: 100%;
}

ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
  display: block;
}

li{
  display: inline-block;
}

ul{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#color1{
  list-style: none;
  text-decoration: none;
  color: white;
}

ul li a:hover{
  background: green;
  color: orange;
}
